<style>
    body {
        padding: 0;
        margin: 0;
    }
    .topbar {
        width: 100%;
        background: #21304d;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .title h1 {
        color: aliceblue;
    }
    .title a {
        text-decoration: none;
    }
    .title a:hover {
        cursor: point;
        text-decoration: none;
    }
    .opt ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-top: 4.5vh;
    }
    .opt a{
        font-size: 1.2em;
        color: aquamarine;
        padding: 0 10px;
        text-decoration: none;
    }
    .opt a:hover {
        font-size: 1.5em;
        text-decoration: none;
        color: #7fff00;
    }
</style>
<div class="topbar container-fluid">
    <div class="title">
        <a href="/"><h1>Great Britain News Centre</h1></a>
    </div>
</div>